.rover-stats__name {
    color: rgb(255, 255, 255);
    background-color: rgb(70, 63, 91);
}

.capacity-progress-bar .unity-progress-bar__progress {
    background-color: rgb(65, 150, 185);
}

.battery-progress-bar .unity-progress-bar__progress {
    background-color: rgb(123, 203, 82);
}

.rover-stats__progress-bar {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 0;
    height: 50%;
}

.rover-controls__send {
    color: rgb(255, 245, 0);
    background-color: rgb(212, 177, 51);
    border-left-color: rgb(182, 146, 44);
    border-right-color: rgb(182, 146, 44);
    border-top-color: rgb(182, 146, 44);
    border-bottom-color: rgb(182, 146, 44);
}

.rover-controls__send:hover {
    background-color: rgb(238, 199, 57);
}

.rover-controls__send:active {
    background-color: rgb(182, 146, 44);
    border-left-color: rgb(212, 177, 51);
    border-right-color: rgb(212, 177, 51);
    border-top-color: rgb(212, 177, 51);
    border-bottom-color: rgb(212, 177, 51);
    color: rgb(199, 191, 0);
}

.unity-button:disabled {
    opacity: 1;
    background-color: rgb(145, 145, 145);
    border-left-color: rgb(131, 131, 131);
    border-right-color: rgb(131, 131, 131);
    border-top-color: rgb(131, 131, 131);
    border-bottom-color: rgb(131, 131, 131);
    color: rgb(177, 177, 177);
}

.rover-controls__cargo {
    color: rgb(0, 218, 160);
    background-color: rgb(0, 127, 92);
    border-left-color: rgb(0, 106, 77);
    border-right-color: rgb(0, 106, 77);
    border-top-color: rgb(0, 106, 77);
    border-bottom-color: rgb(0, 106, 77);
}

.rover-controls__cargo:hover {
    background-color: rgb(0, 162, 117);
}

.rover-controls__cargo:active {
    border-left-color: rgb(0, 127, 92);
    border-right-color: rgb(0, 127, 92);
    border-top-color: rgb(0, 127, 92);
    border-bottom-color: rgb(0, 127, 92);
    background-color: rgb(0, 106, 77);
    color: rgb(0, 172, 126);
}

.rover-controls__consumption {
    color: rgb(255, 255, 255);
    -unity-text-auto-size: best-fit 10px 100px;
    width: 77%;
}
